<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
	<div class="row">
	    
	    
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">



<!-- FORM  -->	    
	   <div class="col-md-12">
	       
	    <form class="form-horizontal" id="form-edit-client">

</form>


	   </div> 
	    



<!-- LIST -->
<div class=col-md-12>
    
    <form id="form-list-client">
            <legend>Quản lí đơn hàng</legend>
    
    <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Làm Mới</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> Thêm Mới</a>
    </div>
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <td>Id đơn hàng</td>
                <th>Tên đơn hàng</th>
                <th>Trạng Thái</th>
                <th>Hành Động</th>
            </tr>
                
        </thead>
        <tbody id="form-list-client-body">
            <tr>
                <td>112</td>
                <td>12</td>
                <td>Đang vận chuyển</td>
                <td>
                    <a title="xem đơn hàng" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-eye-open text-primary"></i> </a>
                    <a title="sửa đơn hàng" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="xóa đơn hàng" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                    <a title="nhân bản đơn hàng" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-duplicate text-danger"></i> </a>
                    <a title="tạo hóa đơn" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-level-up bg-success"></i> </a>
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 

</div>
</div>